.place {
  display: grid;
  gap: 48px 40px;
  grid-template-columns: minmax(325px, 460px) minmax(352px, 484px);
  grid-template-areas:
  "title website"
  "image paragraphs";
  padding-bottom: 80px;
}

.place:last-child {
  padding-bottom: 0;
}


@media screen  and (max-width: 1025px) {
  .place {
    grid-template-columns: minmax(325px, 440px) minmax(352px, 456px);

    gap: 48px 32px;
  }
}

@media screen  and (max-width: 768px) {
  .place {
    grid-template-columns: minmax(288px, 340px) minmax(288px, 352px);
    gap: 48px 28px;
    padding-bottom: 73px;
  }
}


@media screen  and (max-width: 625px) {
  .place {
    grid-template-columns: 1fr;
    gap: 32px 0;
    grid-template-areas:
    "title"
    "website"
    "image"
    "paragraph";
    padding-bottom: 50px;
  }
}

