.page__photo-grid {
  margin: 0 48px 92px;
}

@media screen and (max-width: 768px) {
  .page__photo-grid {
    margin: 0 24px 92px;
  }
}

@media screen and (max-width: 768px) {
  .page__photo-grid {
    margin: 0 24px 92px;
  }
}

@media screen and (max-width: 325px) {
  .page__photo-grid {
    margin: 0 16px 64px;
  }
}
